@charset "UTF-8";

body{
    font-size: 16pt;
    font-family: sans-serif;
}

h1{
    font-size: 3rem;
    font-family: sans-serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#contenedor{
    width: 800px;
    height: 600px;
    margin: auto;
    background: bisque;
}

#i{
    background-color: #aaa;
    color:bisque;
    padding: 1rem;
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 18.75rem;
    border-radius: 25px;
    margin-left: 3rem;
}

#d{
    background-color: #aaa;
    color:bisque;
    padding: 1rem;
    width: 1rem;
    height: 1rem;
    position: relative;
    top:16rem;
    left:44rem;
    border-radius: 25px;
}

li:hover{
    transition: 2s;
    transform: scale(1.2);
    border-radius: 25px;
}
