@charset "UTF-8";

body{
    font-family: sans-serif;
    font-size: 16px;
}

#calculadora{
    
    border: 1px solid black;
    background: linear-gradient(white,#ccffff );
    width: 22rem;
    height: 22rem;
    margin: auto;
    border-radius: 0.5rem;
   box-shadow: 1rem 1rem 1rem #cccccc;
    
        
}

#Pantalla{
    margin: 1.5rem;
    background-color: black;
    color:greenyellow;
    text-align: right;
    padding: 1rem;
    font-size: 1.5rem;
    color:#cccccc
}

#teclado ul li:nth-child(5n){
   display: inline;
   color:red;
}